@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobFormListViewModel

@{
    ViewBag.Title = "FormIndex";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>FormIndex</h2>


    <div>

    </div>
    <div>
        <table class="table table-responsive">
            <tr>
                <td>Name</td>
                <td>PhoneNumber</td>
                <td>Position</td>
                <td>Letter</td>
                <td>Starting Date</td>

                <td></td>
                <td></td>
            </tr>
            @foreach (var jobform in Model.JobForms)
            {
                <tr>
                    <td>@jobform.Name</td>
                    <td>@jobform.PhoneNumber</td>
                    <td>@jobform.Position</td>
                    <td>@jobform.Letter</td>
                    <td>@Html.DisplayFor(modelItem => jobform.StartingDate)</td>



                </tr>

            }
        </table>
    </div>
