@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobViewModel

@{
    ViewData["Title"] = "JobDetails";
    Layout = "~/Views/_AdminLayout.cshtml";
}


<div class="row" style="width:1150px; margin-top:20px;">
    <div class="col-xs-12 col-lg-7">
        <h3> <strong>Aday Kriterleri</strong></h3>

        <div class="jumbotron" style="background-color:aliceblue; margin-bottom:89px;">
            <div class="content knetLoadingWrapper">
                <div class="row">
                    <div class="col-xs-3">
                        <h4>
                            <strong>
                                Tecrübe:
                            </strong>
                        </h4>
                    </div>
                    <div class="col-12">
                        <h4>  @Html.DisplayFor(model => model.Job.Experience) </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h4>
                            <strong>
                                Eğitim Seviyesi:
                            </strong>
                        </h4>
                    </div>
                    <div class="col-12">
                        <h4>   @Html.DisplayFor(model => model.Job.EducationLevel) </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h4>
                            <strong>
                                Üniversite Bölümü:
                            </strong>
                        </h4>
                    </div>
                    <div class="col-12">
                        <h4>   @Html.DisplayFor(model => model.Job.Education) </h4>
                    </div>
                </div>

            </div>
        </div>
        <h3> <strong>Pozisyon Bilgileri</strong></h3>
        <div class="jumbotron" style="background-color:aliceblue;">
            <div class="mid-wrapper">
                <div class="sub-box">
                    <div class="content knetLoadingWrapper">
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Departman:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>  @Html.DisplayFor(model => model.Job.Department) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Çalışma Tipi:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.WorkType) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Pozisyon:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.Position) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Şehir:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.City) </h4>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-5">
        <h3> <strong>Firma Hakkında</strong></h3>

        <div class="jumbotron" style="background-color:aliceblue;">
            <div class="mid-wrapper">
                <div class="sub-box">
                    <div class="content knetLoadingWrapper">
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Firma:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>  @Html.DisplayFor(model => model.Job.Company) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Telefon:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.Telephone) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Adres:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.Address) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        Şehir:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.City) </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>
                                    <strong>
                                        İlan Tarihi:
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-12">
                                <h4>   @Html.DisplayFor(model => model.Job.Date) </h4>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <h3> <strong>İş Tanımı</strong></h3>
        <div class="jumbotron" style="background-color:aliceblue;">
            <div class="mid-wrapper">
                <div class="sub-box">
                    <div class="content knetLoadingWrapper">
                        <div class="row">
                            <div class="col-xs-4">
                               
                            </div>
                            <div class="col-12">
                                <h4>  @Html.DisplayFor(model => model.Job.Description) </h4>
                            </div>
                        </div>
                       
                     
                       

                    </div>

                </div>

            </div>


        </div>
        <div>
            <a class="btn btn-lg btn-success" style="margin-left:361px;" asp-area="User" asp-controller="JobForm" asp-action="AddJobForm">Başvur</a>

        </div>

    </div>






    </div>
    <div>
        @*<a asp-area="User" asp-controller="Job" asp-action="Index">Back to List</a>*@
    </div>
