@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobListViewModel




<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Mezun Bilgi Sistemi</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="~/css/carousel.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:white">
            <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="Index"><img src="~/İmg/999999.jpg" style="height:80px; margin:5px 5px 5px 0;" />Mezun Bilgi Sistemi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="HomePage" asp-action="Index">Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Giriş<span class="sr-only">(current)</span></a>
                    </li>

                    @* Job Announcement button *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="User" asp-controller="Job" asp-action="Index">Kariyer<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="User" asp-controller="UserProfile" asp-action="Details">Profile<span class="sr-only">(current)</span></a>
                            </li>

                        }

                        @if (User.IsInRole("Admin"))
                        {
                            @* Job Announcement button *@
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="JobIndex">Update/Delete Jobs<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="JobFormIndex">Job Form Application<span class="sr-only">(current)</span></a>
                            </li>
                        }
                    }



                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("LogOff","Account")"><i class="lnr lnr-exit"></i> <span>Çıkış Yap</span></a></li>

                    </ul>
                }

            </div>
        </nav>
    </header>

    <main role="main" style="margin-top:30px;">
        <div class="container">

            <div class="table-wrapper">

                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-12"><h2>Meslek Listesi </h2></div>

                    </div>
                </div>

                @*<a class="btn btn-xs btn-success" asp-area="Admin" asp-controller="Job" asp-action="Add">Add a new Job</a>*@

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            @*<th>Firma </th>*@
                            <th>Departman </th>
                            <th>Çalışma Şekli</th>
                            <th>Pozisyon </th>
                            <th>İlan Tarihi</th>

                        </tr>
                    </thead>


                    @foreach (var job in Model.Jobs)
                    {
                        <tbody>
                            <tr>
                                @*<td>@Html.DisplayFor(modelItem=>job.Company)</td>*@
                                <td>@job.Department</td>
                                <td>@job.WorkType</td>
                                <td>@job.Position</td>
                                <td>@Html.DisplayFor(modelItem => job.Date)</td>

                                <td><a class="btn btn-secondary" asp-action="Details" asp-route-id="@job.JobID" role="button">İncele &raquo;</a></td>

                                @*<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>*@


                                @*<td><a class="btn btn-xs btn-info" asp-area="Admin" asp-controller="Job" asp-action="Update" asp-route-JobID="@job.JobID">Update</a></td>
        <td><a class="btn btn-xs btn-danger" asp-area="Admin" asp-controller="Job" asp-action="Delete" asp-route-JobID="@job.JobID">Delete</a></td>*@
                            </tr>
                        </tbody>
                    }
                </table>
            </div>


        </div>







        <!-- FOOTER -->
        <footer class="container">
            <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>



</body>
</html>




