@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobListViewModel
@{
    ViewData["Title"] = "JobIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}






@if (TempData["addjobmessage"] != null)
{
    <div class="alert alert-success">@TempData["success"];</div>
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12"><h2>Meslek Listesi </h2></div>

            </div>
        </div>

        @*<a class="btn btn-xs btn-success" asp-area="Admin" asp-controller="Job" asp-action="Add">Add a new Job</a>*@

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>

                    <th>Departman </th>
                    <th>Çalışma Şekli</th>
                    <th>Pozisyon </th>
                   
                    <th>Tarih</th>
                    <th>Üniversite Bölümü</th>
                    <th>Deneyim</th>
                    <th>Eğitim Seviyesi</th>


                    <th>Actions</th>
                </tr>
            </thead>
           

                @foreach (var job in Model.Jobs)
                {
                <tbody>
                    <tr>
                        <td>@job.Department</td>
                        <td>@job.WorkType</td>
                        <td>@job.Position</td>
                        <td>@Html.DisplayFor(modelItem => job.Date)</td>
                        <td>@job.Education</td>
                        <td>@job.Experience</td>
                        <td>@job.EducationLevel</td>








                        @*<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>*@
                        <td>
                            <a class="edit" asp-area="Admin" asp-controller="Job" asp-action="Update" asp-route-JobID="@job.JobID" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" asp-area="Admin" asp-controller="Job" asp-action="Delete" asp-route-JobID="@job.JobID" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>

                        @*<td><a class="btn btn-xs btn-info" asp-area="Admin" asp-controller="Job" asp-action="Update" asp-route-JobID="@job.JobID">Update</a></td>
        <td><a class="btn btn-xs btn-danger" asp-area="Admin" asp-controller="Job" asp-action="Delete" asp-route-JobID="@job.JobID">Delete</a></td>*@
                    </tr>
             </tbody>
            }
            </table>
        </div>
    </div>
</div>